@import "functions";
@import "variables";

@import "mixins/breakpoints";
@import "mixins/grid";
@import "mixins/container";
@import "grid";
@import "containers";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  overflow: hidden;
  position: relative !important;
  padding: 0 !important;

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 20;
    background-color: white;
    opacity: 0;
    animation: mask 2s;
  }

  .space {
    position: relative;
    width: 100%;
    transform: scale(1);
    transform-origin: center;
    animation: space 2s;
  }

  @keyframes mask {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes space {
    from {
      transform: scale(1.5);
    }
    to {
      transform: scale(1);
    }
  }

  .text2,
  .text3 {
    position: absolute;
    height: 62%;
    width: auto;
  }

  .text2 {
    top: 11%;
    left: 65%;
    animation: text2 3s;
  }

  @keyframes text2 {
    from,
    50% {
      transform: translate3d(0, -3000px, 0);
    }

    to {
      transform: translate3d(0, 0, 0);
    }
  }

  .text3 {
    top: 6%;
    left: 79%;
    animation: text3 4s;
  }

  @keyframes text3 {
    from,
    75% {
      transform: translate3d(0, -3000px, 0);
    }

    to {
      transform: translate3d(0, 0, 0);
    }
  }

  .logo {
    animation: logo 2.5s;
  }

  @keyframes logo {
    from,
    40% {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .shoe,
  .text1,
  .bg-second,
  .logo,
  .dark,
  .tfp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .shoe {
    z-index: 120;
    transform-origin: top right;
    transform: scale(2.1);
    top: -48%;
    left: auto;
    right: 40%;
    animation: shoe 1s;
  }

  @keyframes shoe {
    from {
      transform: scale(0);
      top: 50%;
      left: auto;
      right: 50%;
    }

    35% {
      transform: scale(0);
      top: 50%;
      left: auto;
      right: 50%;
    }

    40% {
      transform: scale(0.05);
      top: 45%;
      left: auto;
      right: 45%;
    }

    to {
      transform: scale(2.1);
      top: -48%;
      left: auto;
      right: 40%;
    }
  }

  .text1 {
    transform: scale(1);
    animation: text1 4s;
    top: 0%;
  }

  @keyframes text1 {
    from {
      transform: scale(0);
      top: 40%;
      left: auto;
    }

    35% {
      transform: scale(0);
      top: 40%;
    }

    40% {
      transform: scale(0.05);
    }

    to {
      transform: scale(1);
      top: 0%;
    }
  }

  .tfp {
    z-index: 100;
    animation: tfp 3s;
  }

  @keyframes tfp {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
      opacity: 0;
      transform: translate3d(0, 3000px, 0) scaleY(5);
    }

    60% {
      opacity: 1;
      transform: translate3d(0, -20px, 0) scaleY(0.9);
    }

    75% {
      transform: translate3d(0, 10px, 0) scaleY(0.95);
    }

    90% {
      transform: translate3d(0, -5px, 0) scaleY(0.985);
    }

    to {
      transform: translate3d(0, 0, 0);
    }
  }

  .bg-second {
    opacity: 0.9;
    animation: bg-second 4s;
    width: 100%;
  }

  @keyframes bg-second {
    from,
    60%,
    75%,
    90%,
    from {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
      opacity: 1;
      transform: translate3d(0, -3000px, 0) scaleY(3);
    }

    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0) scaleY(0.9);
    }

    75% {
      transform: translate3d(0, -10px, 0) scaleY(0.95);
    }

    90% {
      transform: translate3d(0, 5px, 0) scaleY(0.985);
    }

    to {
      transform: translate3d(0, 0, 0);
    }
  }

  .btn-block {
    position: absolute;
    animation: btn-block 4s;
    right: 5%;
    top: 80%;

    .frame {
      position: absolute;
      left: 3%;
      top: 15%;
      border: 2px solid black;
      width: 390px;
      max-width: 100%;
      height: 100%;
    }

    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 15px 50px 15px 20px;
      width: auto;
      background-color: black;
      font-size: 45px;
      font-weight: 700;
      color: white;
      z-index: 20;

      @media (max-width: 1200px) {
        font-size: 25px;
        padding: 5px;
      }

      @media (max-width: 768px) {
        font-size: 15px;
        padding: 5px;
      }
     

      p {
        font-size: 55px;
        margin: auto 0px 0 20px;

        @media (max-width: 768px) {
          font-size: 15px;
        }
      }

      
    }
  }

  @keyframes btn-block {
    from,
    60%,
    75%,
    90%,
    from {
      animation-timing-function: ease-in-out;
    }

    0% {
      opacity: 1;
      transform: translate3d(0, -3000px, 0);
    }

    60% {
      opacity: 1;
      transform: translate3d(0, 100px, 0);
    }

    75% {
      transform: translate3d(0, -100px, 0);
    }

    90% {
      transform: translate3d(0, 25px, 0);
    }

    to {
      transform: translate3d(0, 0, 0);
    }
  }
}
